<div class="container">
  <h1><%= @cocktail.name %></h1>

  <% array = []%>

  <% @cocktail.ingredients.each do |ingredient| %>
    <% @cocktail.doses.each_with_index do |dose, index| %>
      <% if ingredient.id == dose.ingredient_id %>
        <% array << [ingredient, dose] %>
      <% end %>
    <% end %>
  <% end %>


  <% array.each do |ingredient, dose|%>
    <p><%= ingredient.name %>: <%= dose.description %></p>
    <%= link_to 'Delete', dose_path(dose), method: :delete %>
  <% end %>
  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
</div>


